@{
    ViewData["Title"] = "Gestao usuarios";
}
<h1>@ViewData["Title"]</h1>

<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Novo Usuario</a>
<a class="nav-link text-dark" asp-area="" asp-controller="AcessoTipoUsuarios" asp-action="Index">Tipos de Acessos</a>
<a class="nav-link text-dark" asp-area="" asp-controller="PerfilUsuarios" asp-action="Index">Usuarios Autorizados</a>
<a class="nav-link text-dark" asp-area="" asp-controller="TipoUsuarios" asp-action="Index">Permissoes</a>


