@{
    ViewData["Title"] = "Requisiçao RH";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Portal de cadastro das solicitações de novos equipamentos para colaboradores Patrus.</p>
    <img src="~/css/imagens/background.png" alt="Logo Patrus" />
</div>
