@using Projeto_RH.Enums 
@model Projeto_RH.Entidades.Rh

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
      
            <div class="form-group">
                <label  asp-for="N_Referencia_Pandape" class="control-label"></label>
                <input  asp-for="N_Referencia_Pandape"readonly class="form-control" />
                <span  asp-validation-for="N_Referencia_Pandape" class="text-danger"></span>
            </div>
            <div  class="form-group">
                <label asp-for="Vaga" class="control-label"></label>
                <select  asp-for="Vaga"  disabled asp-items="Html.GetEnumSelectList<Vaga>()" class="form-control"></select>
                <span asp-validation-for="Vaga" class="text-danger"></span>
            </div>
            <div  class="form-group">
                <label asp-for="Email_Solicitante" class="control-label"></label>
                <input asp-for="Email_Solicitante" readonly class="form-control" />
                <span asp-validation-for="Email_Solicitante" class="text-danger"></span>
            </div>
            <div  class="form-group">
                <label asp-for="EnumFiliais" class="control-label"></label>
                <select  asp-for="EnumFiliais"  disabled asp-items="Html.GetEnumSelectList<Filial>()" class="form-control"></select>
                <span asp-validation-for="EnumFiliais" class="text-danger"></span>
            </div>
            <div  class="form-group">
                <label asp-for="Solicitação_Infra" class="control-label"></label>
                <select  asp-for="Solicitação_Infra" disabled  asp-items="Html.GetEnumSelectList<Status>()"class="form-control"></select>
                <span asp-validation-for="Solicitação_Infra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Solicitação_Telefonia" class="control-label"></label>
                <select  asp-for="Solicitação_Telefonia" disabled asp-items="Html.GetEnumSelectList<Status>()" class="form-control"></select>
                <span asp-validation-for="Solicitação_Telefonia" class="text-danger"></span>
            </div>
            <div  class="form-group">
                <label asp-for="Tipo_Equipamento" class="control-label"></label>
                <select  asp-for="Tipo_Equipamento" disabled asp-items="Html.GetEnumSelectList<Equipamento>()" class="form-control"></select>
                <span asp-validation-for="Tipo_Equipamento" class="text-danger"></span>
            </div>
            <div  class="form-group">
                <label asp-for="Cargo" class="control-label"></label>
                <input  asp-for="Cargo"  readonly class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Setor" class="control-label"></label>
                <input  asp-for="Setor" readonly class="form-control" />
                <span asp-validation-for="Setor" class="text-danger"></span>
            </div>
            <div  class="form-group">
                <label asp-for="Filial_infra" class="control-label"></label>
                <select  asp-for="Filial_infra" disabled asp-items="Html.GetEnumSelectList<Filial>()" class="form-control"></select>
                <span asp-validation-for="Filial_infra" class="text-danger"></span>
            </div>
            <div  class="form-group">
                <label asp-for="Movidesk_Infra" class="control-label"></label>
                <input asp-for="Movidesk_Infra" readonly class="form-control" />
                <span asp-validation-for="Movidesk_Infra" class="text-danger"></span>
            </div>
            <div  class="form-group">
                <label  asp-for="Movidesk_Telefonia" class="control-label"></label>
                <input  asp-for="Movidesk_Telefonia" readonly class="form-control" />
                <span asp-validation-for="Movidesk_Telefonia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Andamento" class="control-label"></label>
                <select asp-for="Andamento" asp-items="Html.GetEnumSelectList<Andamento>()" class="form-control"></select>
                <span asp-validation-for="Andamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recebido_por" class="control-label"></label>
                <input asp-for="Recebido_por" class="form-control" />
                <span asp-validation-for="Recebido_por" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRecebimento" class="control-label"></label>
                <input asp-for="DataRecebimento" class="form-control" />
                <span asp-validation-for="DataRecebimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie_equipamento" class="control-label"></label>
                <input asp-for="Serie_equipamento" class="form-control" />
                <span asp-validation-for="Serie_equipamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
